.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
_config.yml
images/wandhex.1024.png
images/wandhex.ico
.history/**
tslint.json
desktop.ini
